{% assign news = site.data.news %}
{% if news %}
<section class="section news-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
    </span>
    News
  </h2>

  {% for item in news %}
  <div class="item">
    <h3 class="news-title">{{ item.title }}</h3>
    <div class="news-date"><time datetime="{{ item.date }}">{{ item.date | date: "%B %d, %Y" }}</time></div>
    <div class="news-details">{{ item.details }}</div>
    {% if item.link %}
      <a href="{{ item.link }}" target="_blank">Read more...</a>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
