{% assign news = site.data.data.news %}
{% if news %}
<section class="section news-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ news.title }}
  </h2>

  {% if news.intro %}
  <div class="intro">
    {{ news.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for new in news.events %}
  <div class="item">
    {% if new.link %}
      <li><a href="{{ new.link }}">{{ new.title }}</a></li>
    {% else %}
      <li>{{ new.title }}</li>
    {% endif %}
    <div class="new-authors">{{ new.authors }}</div>
    <div class="new-conference">{{ new.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
